.toggler{
    display: none;
}
@media screen and (max-width:650px){
    .ham-nav{
        flex-direction: column;
        padding: 10px;
        position: absolute;
        top:-200px;
        right: 5%;
        width: 150px;
        height: auto;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background: rgba(9, 9, 10, 0.863);
        transition: all 0.4s ease;
        visibility: hidden;
    }
    .ham-nav>.nav{
        margin: 5px;
    }
    .ham .toggler{
        display:block;
        position: absolute;
        right: 10%;
        top: 30px;
        width: 30px;
        height: 30px;
        padding: 5px;
        opacity: 0;
        z-index: 2;
    }
    .hamb{
        position: absolute;
        right: 10%;
        top: 30px;
        width: 40px;
        height: 40px;
        padding: 0 3px;
        background:#000 ;
    }
    .ham .hamb>div{
        top: 20px;
        position: relative;
        width: 100%;
        height: 3px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease;
    }
    .ham .hamb>div::before{
        content: '';
        position: absolute;
        background: #fff;
        top: -10px;
        width: 100%;
        height: 3px;
    }
    .ham .hamb>div::after{
        content: '';
        position: absolute;
        background: #fff;
        top: 10px;
        width: 100%;
        height: 3px;
    }
    .ham .toggler:checked + .hamb>div{
        transform: rotate(135deg);
    }
    .ham .toggler:checked +.hamb>div::before,
    .ham .toggler:checked +.hamb>div::after{
        transform: rotate(90deg);
        top: 0;
    }
    .ham .toggler:checked:hover + .hamb>div{
        transform: rotate(225deg);
    }
    .ham .toggler:checked ~ .ham-nav{
        visibility: visible;
        transform: translateY(270px);
        transition-duration: 0.4s;

    }

}