body {
  font-family: sans-serif;
  color: #fff;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.logo {
  position: absolute;
  z-index: 1;
  float: left;
  top: -20px;
  width: 200px;
}
.logo > img {
  width: 100%;
  height: 100%;
}

/* HOME */
.flex-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.section {
  width: 100vw;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}
.in-section {
  width: 100%;
}
.section-flex-box {
  display: flex;
  flex-direction: row;
  float: right;
  padding: 30px 0;
  margin: 0 5px 0 0;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 50;
  z-index: 3;
  padding: 5px;
}
.section-flex-box > .nav {
  margin-left: 5px;
  height: auto;
  width: auto;
  padding: 5px 2px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 3px 0 rgb(116, 114, 114);
}

.nav:hover {
  box-shadow: 0 0 20px 0 rgb(116, 114, 114);
  background: rgba(166, 166, 166);
}
.nav > a:hover {
  color: black;
}
.sec {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 0;
  width: 100%;
  height: 550px;
  background: rgba(74, 199, 193, 0.63);
  overflow: hidden;
}
.insec {
  width: 100%;
  display: flex;
}
.insec > img {
  width: 70%;
}
.name {
  width: 100%;
  top: 10px;
  z-index: 2;
  color: rgb(0, 15, 97);
  text-align: center;
  font-size: 40px;
}
.name > h3,
.name > h2 {
  background: rgba(255, 255, 255, 0.521);
  width: auto;
  position: relative;
  left: 0;
  right: 0;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 5px 10px;
}
/* About US */
.section2 {
  position: absolute;
  top: 650px;
  left: 0;
  color: black;
  width: 100%;
  z-index: -1;
}
.section2-flex-box {
  display: flex;
  z-index: 1;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
.left {
  width: 50%;
  word-spacing: 4px;
}
.right {
  width: 50%;
  margin-top: 10px;
  padding: 10px;
}
.right > img {
  width: 100%;
}
#myBtn {
  position: fixed;
  right: 30px;
  bottom: -10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 255, 0.5);
  outline: none;
  cursor: pointer;
  z-index: 99;
  transition: all 0.8s ease-in-out;
}
#myBtn:hover {
  background: rgba(0, 0, 255, 0.8);
}
#myBtn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 3px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  /* cursor: pointer; */
}
#myBtn::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 30px;
  width: 3px;
  height: 20px;
  background: #fff;
  transform: rotate(135deg);
  /* cursor: pointer; */
}
/* Education */
@media screen and (max-width: 650px) {
  .insec {
    width: 100%;
  }
  .sec {
    height: 450px;
    background: rgba(74, 199, 193, 0.63);
  }
  .insec > img {
    width: 100vw;
    height: 450px;
    position: absolute;
    left: 0;
    z-index: -3;
  }
  .name {
    font-size: 35px;
    color: rgb(0, 15, 97);
  }
  .name > h2 {
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .name > h3 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .section2 {
    top: 550px;
  }
  .section2-flex-box {
    flex-direction: column;
  }
  .left {
    width: 95%;
  }
  .right {
    width: 100%;
  }
  /* edu */
}
@media screen and (min-width: 651px) and (max-width: 900px) {
  .logo {
    width: 150px;
    top: -10px;
  }
  .nav > a {
    font-size: 15px;
  }
  .sec {
    height: 400px;
  }
  .section2 {
    top: 500px;
  }
  .section2-flex-box {
    flex-direction: column;
  }
  .left {
    width: 95%;
  }
  .right {
    width: 100%;
  }
}
